<Config>
	<HostIpp>iprsg.monitoreo.cloud</HostIpp>
	<IpRecRem>186.4.239.44</IpRecRem>
	<PuertoRecRem>1978</PuertoRecRem>
	<PuertoSerial>COM18</PuertoSerial>
	<DBServer>186.4.239.44</DBServer>
	<DBPuerto>3306</DBPuerto>
	<DBUser>user1</DBUser>
	<DBPss>Electro@9713</DBPss>
	<DBDatabase>retransmision</DBDatabase>
	<Identificador>1C7.1C7.1C7.1C7</Identificador>
</Config>